binder_call(fingerprintd, gx_fpd);
allow fingerprintd gx_fpd_service:service_manager find;

# allow TEE
allow fingerprintd tee_device:chr_file rw_file_perms;

# allow log
allow fingerprintd log_device:dir search;
allow fingerprintd log_device:chr_file rw_file_perms;

# allow writing fp_msg_type
allow fingerprintd sysfs:file write;

# R dir perms for firmware dir
r_dir_file(fingerprintd, firmware_file)
