# communicate with perfd
allow hal_camera perfd_data_file:dir search;
allow hal_camera perfd:unix_stream_socket connectto;
allow hal_camera perfd_data_file:sock_file write;
