vndbinder_use(hal_fingerprint_default)

# callback to gx_fpd with binder
binder_call(hal_fingerprint_default, gx_fpd);

allow hal_fingerprint_default gx_fpd_service:service_manager find;

# allow TEE
allow hal_fingerprint_default tee_device:chr_file rw_file_perms;

# allow log
#allow hal_fingerprint_default log_device:dir search;
#allow hal_fingerprint_default log_device:chr_file rw_file_perms;

# allow writing fp_msg_type
#allow hal_fingerprint_default sysfs:file write;

# R dir perms for firmware dir
r_dir_file(hal_fingerprint_default, firmware_file)
