#============= hal_wifi_default ==============
allow hal_wifi_default persist_file:dir { search write add_name create };
allow hal_wifi_default persist_file:file { create read write open };
