# Copyright (c) 2009-2012, 2014-2016, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import init.qcom.power.rc
import init.qcom.usb.rc
import init.msm.usb.configfs.rc

on early-init
    mkdir /firmware 0771 system system
    mkdir /bt_firmware 0771 system system
    symlink /data/tombstones /tombstones
    mkdir /dsp 0771 media media
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

on init
    export LD_SHIM_LIBS /system/vendor/lib64/libril-qc-qmi-1.so|libshims_rild_socket.so:/system/vendor/lib64/liblowi_wifihal_nl.so|libshims_is_wifi_driver_loaded.so:/system/vendor/lib64/lib-imsvt.so|libshims_ims.so:/system/vendor/lib/hw/camera.msm8996.so|/system/vendor/lib/libshim_camera.so:/system/vendor/lib/libmmcamera_ppeiscore.so|/system/vendor/lib/libshim_camera.so

    # Set permissions for persist partition
    mkdir /persist 0771 root system

    # Support legacy paths
    symlink /sdcard /storage/sdcard0

    # Create cgroup mount point for memory
    mkdir /sys/fs/cgroup/memory/bg 0750 root system
    write /sys/fs/cgroup/memory/bg/memory.swappiness 140
    write /sys/fs/cgroup/memory/bg/memory.move_charge_at_immigrate 1
    chown root system /sys/fs/cgroup/memory/bg/tasks
    chmod 0660 /sys/fs/cgroup/memory/bg/tasks

    write sys/module/qpnp_rtc/parameters/poweron_alarm 1

    # Wifi firmware reload path
    chown wifi wifi /sys/module/wlan/parameters/fwpath

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    mount_all fstab.qcom

    mkdir /persist/data 0700 system system
    restorecon_recursive /persist

on post-fs
    chmod 0755 /sys/kernel/debug/tracing

# msm specific files that need to be created on /data
on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system

    # Create directory for TZ Apps
    mkdir /data/misc/qsee 0770 system system

    #Create directories for Fingerprint
    mkdir /data/system/fingerprint 0700 system system

    #Create folder for mm-qcamera-daemon
    mkdir /data/misc/camera 0770 camera camera

    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

    mkdir /data/misc/ipa 0700 net_admin net_admin

    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth

    #create netmgr log dir
    mkdir /data/misc/netmgr 0770 radio radio
    chmod 0770 /data/misc/netmgr

    # Create the directories used by CnE subsystem
    mkdir /data/connectivity 0771 system system
    chown system system /data/connectivity

    # Create the directories used by DPM subsystem
    mkdir /data/dpm 0771 system system
    chown system system /data/dpm

    mkdir /data/dpm/nsrm 0771 system system
    chown system system /data/dpm/nsrm

    # Create directory used by audio subsystem
    mkdir /data/misc/audio 0770 audio audio

    # Create directory for audio delta files
    mkdir /data/misc/audio/acdbdata 0770 media audio
    mkdir /data/misc/audio/acdbdata/delta 0770 media audio

    # Create directory used by the DASH client
    mkdir /data/misc/dash 0770 media audio

    # Create directory used by display clients
    mkdir /data/misc/display 0770 system graphics

    # Mounting of persist is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown root system /persist
    chmod 0771 /persist

    #Create directories for Location services
    mkdir /data/misc/location 0770 gps gps
    mkdir /data/misc/location/mq 0770 gps gps
    mkdir /data/misc/location/xtwifi 0770 gps gps
    mkdir /data/misc/location/gpsone_d 0770 system gps
    mkdir /data/misc/location/quipc 0770 gps system
    mkdir /data/misc/location/gsiff 0770 gps gps

    #Create directory from IMS services
    mkdir /data/shared 0755
    chown system system /data/shared

    #Create directory for FOTA
    mkdir /data/fota 0771
    chown system system /data/fota

    # Create /data/time folder for time-services
    mkdir /data/time/ 0700 system system

    mkdir /data/audio/ 0770 media audio

    # Create a folder for audio delta files
    mkdir /data/audio/acdbdata 0770 media audio
    mkdir /data/audio/acdbdata/delta 0770 media audio

    setprop vold.post_fs_data_done 1

    #Create a folder for SRS to be able to create a usercfg file
    mkdir /data/data/media 0770 media media
	
    # Sensor
    mkdir /data/misc/sensors
    mkdir /persist/sensors 0770 system system
    chmod 0775 /data/misc/sensors
    chmod 0755 /persist/sensors
    chmod 0644 /persist/sensors/sensors_settings
    chown system root /persist/sensors/sensors_settings

    #Create PERFD deamon related dirs
    mkdir /data/system/perfd 0770 root system
    chmod 2770 /data/system/perfd
    rm /data/system/perfd/default_values
    start perfd

    # NFC local data and nfcee xml storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

    #Create IOP  deamon related dirs
    mkdir /data/misc/iop 0770 root system

    # Mark the copy complete flag to not completed
    write /data/misc/radio/copy_complete 0
    chown radio radio /data/misc/radio/copy_complete
    chmod 0660 /data/misc/radio/copy_complete

    # copy prebuilt qcril.db files always
    copy /system/vendor/qcril.db /data/misc/radio/qcril_prebuilt.db
    chown radio radio /data/misc/radio/qcril_prebuilt.db
    chmod 0660 /data/misc/radio/qcril_prebuilt.db

    # File flags for prebuilt ril db file
    write /data/misc/radio/prebuilt_db_support 1
    chown radio radio /data/misc/radio/prebuilt_db_support
    chmod 0400 /data/misc/radio/prebuilt_db_support
    write /data/misc/radio/db_check_done 0
    chown radio radio /data/misc/radio/db_check_done
    chmod 0660 /data/misc/radio/db_check_done

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

    write /sys/kernel/boot_adsp/boot 1
    write /sys/kernel/boot_slpi/boot 1

on boot
    chown bluetooth net_bt /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock
    chown bluetooth net_bt /sys/class/rfkill/rfkill0/device/extldo
    chmod 0660 /sys/class/rfkill/rfkill0/device/extldo

    #Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 0770 radio radio
    chmod 2770 /dev/socket/qmux_radio
    mkdir /dev/socket/qmux_audio 0770 media audio
    chmod 2770 /dev/socket/qmux_audio
    mkdir /dev/socket/qmux_bluetooth 0770 bluetooth bluetooth
    chmod 2770 /dev/socket/qmux_bluetooth
    mkdir /dev/socket/qmux_gps 0770 gps gps
    chmod 2770 /dev/socket/qmux_gps

    mkdir /persist/drm 0770 system system
    mkdir /persist/bluetooth 0770 bluetooth bluetooth
    mkdir /persist/misc 0770 system system
    mkdir /persist/alarm 0770 system system
    mkdir /persist/time 0770 system system

    #Create NETMGR daemon socket area
    mkdir /dev/socket/netmgr 0750 radio radio

#   Assign TCP buffer thresholds to be ceiling value of technology maximums
#   Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  8388608
    write /proc/sys/net/core/wmem_max  8388608

    # To prevent out of order acknowledgements from making
    # connection tracking to treat them as not belonging to
    # the connection they belong to.
    # Otherwise, a weird issue happens in which some long
    # connections on high-throughput links get dropped when
    # an ack packet comes out of order
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1

    # Set the console loglevel to < KERN_INFO
    # Set the default message loglevel to KERN_INFO
    write /proc/sys/kernel/printk "6 6 1 7"

    # Allow access to dload sysfs node
    chown root system /sys/kernel/dload/emmc_dload
    chmod 0660 /sys/kernel/dload/emmc_dload

    # Wake gesture and KeyDisabler
    chown system radio /proc/touchscreen/wake_gesture
    chmod 0660 /proc/touchscreen/wake_gesture
    chown system system /sys/devices/soc/75ba000.i2c/i2c-12/12-0020/input/input2/0dbutton

    # NDT weight port
    chown system system /dev/ndt_i2c_node
    chmod 0644 /dev/ndt_i2c_node
    
    # Glove mode
    chown system system /proc/gloved_finger_switch
    chmod 0644 /proc/gloved_finger_switch

    # Forcetouch
    chown system system /proc/touchscreen/forcetouch_vendor
    chmod 0644 /proc/touchscreen/forcetouch_vendor

    # add for Fingerprint wakeup accelerate
    chmod 0660 /sys/module/zte_misc/parameters/fp_msg_type
    chown system system /sys/module/zte_misc/parameters/fp_msg_type

    # add for HALL interface permissions
    chmod 0660 /sys/module/zte_hall/parameters/factory_mode
    chmod 0660 /sys/module/zte_hall/parameters/hall_timer_debug
    chmod 0660 /sys/module/zte_hall/parameters/hall_interrupt_count
    chown root system /sys/module/zte_hall/parameters/factory_mode
    chown root system /sys/module/zte_hall/parameters/hall_timer_debug
    chown root system /sys/module/zte_hall/parameters/hall_interrupt_count

    # Create SWAP related dirs
    mkdir /data/system/swap 0770 root system
    chmod 2770 /data/system/swap

    # Set aggressive read ahead for dm-0 and dm-1 during boot up
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048

    #WAPI
    mkdir /data/misc/wapi_certificate 0770 system wifi

service perfd /system/vendor/bin/perfd
    class main
    user root
    group root readproc
    disabled
    socket perfd seqpacket 0666 root system
    writepid /dev/cpuset/system-background/tasks

service iop /system/vendor/bin/iop
    class main
    user root
    group root
    disabled
    socket iop seqpacket 0666 root system
    writepid /dev/cpuset/system-background/tasks

on property:sys.boot_completed=1
    write /dev/kmsg "Boot completed "
    #Reset read ahead for dm-0 and dm-1 to 512kb
    write /sys/block/dm-0/queue/read_ahead_kb 512

    write /sys/block/dm-1/queue/read_ahead_kb 512
    #WDSP FW boot sysfs node used by STHAL
    chown media audio /sys/kernel/wdsp0/boot
    #CPE fw_name used by sound trigger HAL
    chown media audio /sys/kernel/wcd_cpe0/fw_name

# corefile limit
on property:persist.debug.trace=1
    mkdir /data/core 0777 root root
    write /proc/sys/kernel/core_pattern "/data/core/%E.%p.%e"

on property:vold.decrypt=trigger_restart_framework
    start config_bt_addr
    start config_bluetooth

on property:persist.env.fastdorm.enabled=true
    setprop persist.radio.data_no_toggle 1

service cnd /system/vendor/bin/cnd
    class main
    socket cnd stream 660 root inet
    writepid /dev/cpuset/system-background/tasks

service dpmd /system/vendor/bin/dpmd
    class late_start
    socket dpmd stream 660 root system
    group system readproc
    writepid /dev/cpuset/system-background/tasks

service irsc_util /system/vendor/bin/irsc_util "/etc/sec_config"
    class core
    user root
    oneshot

service rmt_storage /system/vendor/bin/rmt_storage
    class core
    user root
    writepid /dev/cpuset/system-background/tasks

service tftp_server /system/vendor/bin/tftp_server
   class core
   user root
   writepid /dev/cpuset/system-background/tasks

on property:wc_transport.start_hci=true
    start start_hci_filter

on property:wc_transport.start_hci=false
    stop start_hci_filter

service start_hci_filter /system/vendor/bin/wcnss_filter
    class late_start
    user bluetooth
    group bluetooth oem_2950
    disabled

on property:wc_transport.start_root=true
    start hci_filter_root

on property:wc_transport.start_root=false
    stop hci_filter_root

service hci_filter_root /system/vendor/bin/wcnss_filter
    class late_start
    user bluetooth
    group bluetooth oem_2950 system
    disabled

service config_bt_addr /system/vendor/bin/bt_mac_writer -O
    class core
    user bluetooth
    group bluetooth radio
    oneshot

service config_bluetooth /system/bin/sh /system/etc/init.qcom.bt.sh "onboot"
    class core
    user root
    seclabel u:r:bluetooth_loader:s0
    oneshot

service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    class late_start
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    seclabel u:r:bluetooth_loader:s0
    oneshot

on property:bluetooth.hciattach=true
    start hciattach

on property:bluetooth.hciattach=false
    setprop bluetooth.status off

service netmgrd /system/vendor/bin/netmgrd
    class main
    writepid /dev/cpuset/system-background/tasks

service ipacm-diag /system/bin/ipacm-diag
    class main
    user system
    socket ipacm_log_file dgram 660 system net_admin
    group net_admin oem_2950

service ipacm /system/bin/ipacm
    class main
    user net_admin
    group net_admin inet
    writepid /dev/cpuset/system-background/tasks

service qti /system/vendor/bin/qti
    class main
    user radio
    group radio net_raw oem_2950 usb net_admin
    writepid /dev/cpuset/system-background/tasks

service sensors /system/vendor/bin/sensors.qcom
    class core
    user root
    group root
    writepid /dev/cpuset/system-background/tasks

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop netmgrd

# Adjust socket buffer to enlarge TCP receive window for high bandwidth
# but only if ro.data.large_tcp_window_size property is set.
on property:ro.data.large_tcp_window_size=true
    write /proc/sys/net/ipv4/tcp_adv_win_scale  2

on property:sys.sysctl.tcp_adv_win_scale=*
    write /proc/sys/net/ipv4/tcp_adv_win_scale ${sys.sysctl.tcp_adv_win_scale}

service wpa_supplicant /vendor/bin/hw/wpa_supplicant \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf \
    -I/vendor/etc/wifi/p2p_supplicant_overlay.conf -N \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/vendor/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets -puse_p2p_group_interface=1 \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service cnss_diag /system/vendor/bin/cnss_diag -q -f
    class main
    user system
    group system wifi inet net_admin sdcard_rw media_rw diag
    disabled

service cnss-daemon /system/vendor/bin/cnss-daemon -n -l
    class late_start
    user system
    group system inet net_admin wifi

on property:sys.shutdown.requested=*
    stop cnss-daemon

service loc_launcher /system/vendor/bin/loc_launcher
    #loc_launcher will start as root and set its uid to gps
    class late_start
    group gps inet oem_2950 wifi
    writepid /dev/cpuset/system-background/tasks

service qcom-sh /system/bin/sh /init.qcom.sh
    class late_start
    user root
    oneshot

on property:ro.data.large_tcp_window_size=true
    # Adjust socket buffer to enlarge TCP receive window for high bandwidth (e.g. DO-RevB)
    write /proc/sys/net/ipv4/tcp_adv_win_scale  2

service ril-daemon2 /vendor/bin/hw/rild -c 2
    class main
    user radio
    group radio cache inet misc audio log readproc wakelock oem_2901
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW

service charger /charger
    class charger
    group system graphics
    seclabel u:r:charger:s0
    writepid /dev/cpuset/system-background/tasks

service qbcharger /charger -m 1
    disabled
    oneshot

on property:sys.qbcharger.enable=true
    start qbcharger

on property:sys.qbcharger.enable=false
    stop qbcharger

service msm_irqbalance /system/vendor/bin/msm_irqbalance -f /system/vendor/etc/msm_irqbalance.conf
    class core
    user root
    group root
    disabled
    writepid /dev/cpuset/system-background/tasks

service qseeproxydaemon /system/vendor/vendor/bin/qseeproxydaemon
    class late_start
    user system
    group system
    writepid /dev/cpuset/system-background/tasks

on charger
    setprop persist.sys.usb.config charging

#start camera server as daemon
service qcamerasvr /system/vendor/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics
    writepid /dev/cpuset/camera-daemon/tasks

#Start up peripheral manager
service per_mgr system/vendor/bin/pm-service
    class core
    user system
    group system
    ioprio rt 4
    writepid /dev/cpuset/system-background/tasks

service per_proxy /system/vendor/bin/pm-proxy
    class core
    user system
    group system
    disabled
    writepid /dev/cpuset/system-background/tasks

on property:init.svc.per_mgr=running
    start per_proxy

on property:sys.shutdown.requested=*
    stop per_proxy

service qseecomd /system/vendor/bin/qseecomd
    class core
    user root
    group root
    writepid /dev/cpuset/system-background/tasks

service thermal-engine /system/vendor/bin/thermal-engine -c /system/etc/thermal-engine-8996-normal.conf
   class main
   user root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   group root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   writepid /dev/cpuset/system-background/tasks

service thermal-perf /system/vendor/bin/thermal-engine -c /system/etc/thermal-engine-8996-perf.conf
   class main
   user root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   group root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   disabled
   writepid /dev/cpuset/system-background/tasks

#smart cpu enable
on property:debug.zte.vr_mode=1
    write /d/spmi/spmi-0/address 0x00000843
    write /d/spmi/spmi-0/data  0x0
    stop thermal-engine
    start thermal-perf

#smart cpu disable
on property:debug.zte.vr_mode=0
    write /d/spmi/spmi-0/address 0x00000843
    write /d/spmi/spmi-0/data  0x80
    stop thermal-perf
    start thermal-engine

service adsprpcd /system/vendor/bin/adsprpcd
    class main
    user media
    group media

service audiod /system/bin/audiod
    class late_start
    user system
    group system

service imsqmidaemon /system/vendor/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio log diag
    writepid /dev/cpuset/system-background/tasks

service imsdatadaemon /system/vendor/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet log diag
    disabled
    writepid /dev/cpuset/system-background/tasks

service pd_mapper /system/vendor/bin/pd-mapper
    class core
    disabled

on property:persist.sys.pd_enable=1
    start pd_mapper
    write /sys/class/service_locator/service_locator_status 1

on property:persist.sys.pd_enable=0
    write /sys/class/service_locator/service_locator_status 0

on property:sys.ims.QMI_DAEMON_STATUS=1
    start imsdatadaemon

service ims_rtp_daemon /system/vendor/bin/ims_rtp_daemon
    class main
    user system
    socket ims_rtpd stream 0660 system radio
    group radio diag inet log
    disabled

service imscmservice /system/vendor/bin/imscmservice
    class main
    user system
    group radio diag inet log
    disabled
    writepid /dev/cpuset/system-background/tasks

on property:sys.ims.DATA_DAEMON_STATUS=1
    start ims_rtp_daemon
    start imscmservice

service ppd /system/vendor/bin/mm-pp-dpps
    class late_start
    user system
    group system graphics
    socket pps stream 0660 system system
    disabled

on property:init.svc.surfaceflinger=stopped
    stop ppd

on property:init.svc.surfaceflinger=running
    start ppd

on property:init.svc.surfaceflinger=restarting
    stop ppd

on property:init.svc.zygote=stopped
    stop ppd

on property:init.svc.zygote=running
    start ppd

on property:init.svc.zygote=restarting
    stop ppd

service energy-awareness /system/vendor/bin/energy-awareness
    class main
    user root
    group system
    oneshot

service hvdcp_opti /system/vendor/bin/hvdcp_opti
    class main
    user root
    group root
    writepid /dev/cpuset/system-background/tasks

service gx_fpd /system/vendor/bin/gx_fpd
    class late_start
    user root
    group system
    writepid /dev/cpuset/system-background/tasks

service time_daemon /system/vendor/bin/time_daemon
    class main
    user root
    group root
    writepid /dev/cpuset/system-background/tasks
